<!-- <h1>Sessions#new</h1> -->



<h1> Login </h1>

<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= label_tag %>
    <%= submit_tag :Login %>
  </div>
<% end %>
