<%= form_with(model: room_message) do |form| %>
  <% if room_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_message.errors.count, "error") %> prohibited this room_message from being saved:</h2>

      <ul>
        <% room_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

    <%= form.hidden_field :room_id, value: room.id %>
 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
