<h2>Friend Requests</h2>
<% @requests.each do |friend| %>
<p>Requested by:</p>
<%= friend.first_name %>
  <% if friend.avatar.attached? %>
    <%= image_tag(url_for(friend.avatar), class: "profile_pic") %>
  <% end %>
  <%= link_to "Accept", user_accept_request_path(friend) %>
  <%= link_to "Decline", user_decline_request_path(friend) %>
<% end %>
<br>
<%= link_to 'Back to home', root_url %>
