<div>
<h1>Contacts</h1>
<div>
    <%= form_for :users, :url => current_user,  :html => { :method => 'GET' } do |f| %>
        I am: <%= f.collection_select :ids, @users, :id, :first_name %> <br>
        <%= f.label "Who do you want to chat with?" %> <br>
        
        <% @users.each do |user| %>
            <%= radio_button_tag(:receiver_id, user.id) %>
            <%= label_tag(:name, user.first_name) %> <br>
        <% end %>
        <%= f.submit "Chat"%>
    <% end %>
</div>
</div>
