<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_user == @user %>
  <p class="posted-by"><%= link_to "Friend Requests", user_friend_requests_path(@user) %></p>
<% end %>

<% if current_user != @user %>
  <%= form_tag ({controller: 'users', action: 'add_friend', method: 'post', user_id: @user.id}) do %>
    <input type=submit value='Add Friend'>
  <% end %>
<% end %>

<p>
  <strong>Your posts:</strong>
  <% @posts.each do |post| %>
    <div class="post">
      <p><%= post.message %></p>
      <p class="posted-at">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
      <% if post.user == current_user %>
        <%= button_to "delete post", post, :method => "delete" %>
      <% end %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div>
  <% end %>
</p>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

  <strong>Your Friends:</strong>

 <% @user.friends.each do |friend| %>
 <p><%= link_to "#{friend.first_name} #{friend.last_name}", friend %></p>
 <% end %>
 
  