
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Your posts:</strong>
  <% @posts.each do |post| %>
    <div class="post">
      <p><%= post.message %></p>
      <p class="posted-at">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
       <% if post.picture.attached? %>
        <%= image_tag(url_for(post.picture), class: "post-picture") %>
        <br>
      <% end %>
      <% if post.user == current_user %>
      <td><%= link_to 'Edit', edit_post_path(post), class: "my_button" %></td>
        <%= button_to "delete post", post, class: "my_button", :method => "delete" %>
      <% end %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

    </div>
  <% end %>
</p>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
