<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Your posts:</strong>
  <% @posts.each do |post| %>
    <div class="post">
      <p><%= post.message %></p>
      <p class="posted-at">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
