<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_user == @user %>
  <p class="posted-by"><%= link_to "Friend Requests", user_friend_requests_path(@user) %></p>
<% end %>

<% if current_user != @user %>
  <%= link_to "Add Friend", user_add_friend_path(@user) %>
<% end %>

<% if current_user.friends_with?(@user) %>
  <h1>This works</h1>
<% end %>

<% if current_user.friend_request(@user) %><p>works</p><% end %>
<p>
  <strong>Your posts:</strong>
  <% @posts.each do |post| %>
    <div class="post">
      <p><%= post.message %></p>
      <p class="posted-at">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
      <% if post.user == current_user %>
        <%= button_to "delete post", post, :method => "delete" %>
      <% end %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div>
  <% end %>
</p>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

  <strong>Your Friends:</strong>

 <% @user.friends.each do |friend| %>
 <p><%= link_to "#{friend.first_name} #{friend.last_name}", friend %></p>
 <% end %>
 
  