<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-3"> 
    <p>Hello, <%= current_user.first_name %></p>     
      <%= render 'form', room: Room.new %>
      <hr>
      <% @rooms.each do |room| %>
        <%= link_to room do %>
          <div class="card mb-2">
            <div class="card-body">
              <%= room.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <nav class="navbar navbar-light bg-light navbar-fixed mb-4 "> 
            <span class="navbar-brand" href="#"><%= @room.name %> </span>
          </nav>
      
          <% @room.room_messages.each do |message| %>
          <p><%= message.content %> - <%= message.user.first_name %></p>
          <% end %>
          <div class="chat-box">
           <%= render 'room_messages/form', room_message: RoomMessage.new,
           room: @room %>
           
        </div>
      <% end %> 
    </div>  
  </div>
</div>