<% if !@user %>
  <%controller.redirect_to signup_path %>
<% else %>


<div class="new-post">
<%= form_with model: @post do |form| %>
  <%= form.text_area :message, :placeholder => "What's on your mind? #{current_user.first_name.capitalize}", class: "text-field", rows: '4' %>
  <br /><br />
  
  <%= form.label "Upload Image", class: "upload-image-text"%>
  <br>
    <%= form.file_field :picture, onchange:"readURL(this);" %>
    <img style="display: none" id="img_prev" src="#" class="img-preview"/>
  <%= form.submit "Share", class: "submit-post my_button" %>
<% end %>
  </div>

    <% @posts.each do |post| %>
    <div class="post-wrapper">
          <div class="post-top">
            <p class="posted-at"><%= time_ago_in_words(post.created_at) %> ago</p>
      </div>
      <div class="post-body">

      <strong><%= post.message %></strong> <br/>
      <% if post.picture.attached? %>
        <%= image_tag(url_for(post.picture), class: "post-picture") %>
      <% end %>
      <p class="posted-by">Posted by <%= link_to "#{post.user.first_name}", user_path(post.user) %></p>
          <% fire_counter = 0 %>
          <% thumbs_up_counter = 0 %>
          <% heart_counter = 0 %>
          <% post.likes.each do |like| %>
            <%if like.react_type == "fire"%>
              <% fire_counter += 1 %>
            <%elsif like.react_type == "heart"%>
              <% heart_counter += 1 %>
            <%elsif like.react_type == "like"%>
              <% thumbs_up_counter += 1 %>
            <% end %>
          <% end %>
          <% if post.likes.count >= 1 %>
          <div class="reacts">
            <span class="emoji_horizontal"><%= button_to "ðŸ‘ #{thumbs_up_counter}", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'like' }%></span>
            <span class="emoji_horizontal"><%= button_to "ðŸ’– #{heart_counter}", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'heart' } %></span>
            <span class="emoji_horizontal"><%= button_to "ðŸ”¥ #{fire_counter}", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'fire' } %></span>
          </div>
        <% else %>
          <div class="reacts">
            <span class="emoji_horizontal"><%= button_to "ðŸ‘", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'like' }%></span>
            <span class="emoji_horizontal"><%= button_to "ðŸ’–", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'heart' } %></span>
            <span class="emoji_horizontal"><%= button_to "ðŸ”¥", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'fire' } %></span>
          </div>
        <% end %>
        <% if post.comments %>
          <strong>Comments</strong>
          <% post.comments.each do |comment| %>
          <br>
            <span class="comment-name">@<%= comment.user.first_name %></span>: <span class="comment-content"><%= comment.content %></span>
              <% if comment.user == current_user %>
                <%= button_to "Delete comment", post_comment_path(post, comment), :method => "delete", class: "my_button delete" %>
              <% end %>
            </p>
          <% end %>
        <% end %>
      <%= form_with model: [post, post.comments.new] do |f| %>
      <br />
        <%= f.text_field :content, placeholder: 'Write a comment...' %>
        <%= f.submit "Add comment" %>
      <% end %>
  </div>
  </div>


    <% end %>

<% end %>
