<% if !@user %>

<%= link_to signup_path do %>
  Sign Up
  <% end %>

<% else %>


<div class="new-post">
<%= form_with model: @post do |form| %>
  <%= form.text_field :message, :placeholder => "What's on your mind?" %>
  <br /><br />
  <%= form.file_field :picture %>
  <%= form.submit "Submit" %>
<% end %>

  </div>
    <% @posts.each do |post| %>
      <div class="post">
      <strong><%= post.message %></strong> <br />
      <% if post.picture.attached? %>
        <%= image_tag(url_for(post.picture), class: "post-picture") %>
      <% end %>
      <p class="posted-at">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
      <p class="posted-by">Posted by <%= post.user.first_name %></p>
        <% if post.user == current_user %>
          <%= button_to "delete post", post, :method => "delete" %>
        <% end %>
          <% fire_counter = 0 %>
          <% thumbs_up_counter = 0 %>
          <% heart_counter = 0 %>
          <% post.likes.each do |like| %> 
            <%if like.react_type == "fire"%>
              <% fire_counter += 1 %>
            <%elsif like.react_type == "heart"%>
              <% heart_counter += 1 %>
            <%elsif like.react_type == "like"%>
              <% thumbs_up_counter += 1 %>
            <% end %>
          <% end %>
          <% if post.likes.count >= 1 %>
            <p class="likes-counter">👍<small> x<%= thumbs_up_counter %></small> </p>
            <p class="likes-counter">🔥<small> x<%= fire_counter %></small> </p>
            <p class="likes-counter">💖<small> x<%= heart_counter %></small> </p>
          <% end %>
        <!-- REACTS DROPDOWN HERE -->
          <div class="reacts">
            <span class="emoji_horizontal"><%= button_to "👍", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'like' }%></span>
            <span class="emoji_horizontal"><%= button_to "💖", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'heart' } %></span>
            <span class="emoji_horizontal"><%= button_to "🔥", post_likes_path(post), method: :post, class: "emoji-button", params: { :react_type => 'fire' } %></span>
          </div>
        <% # COMMENTS SECTION HERE %>
        <% if post.comments %>
          <strong>comments:</strong>
          <% post.comments.each do |comment| %>
            <p><%= comment.user.first_name %>: <%= comment.content %></p>
              <% if comment.user == current_user %>
                <%= button_to "delete comment", post_comment_path(post, comment), :method => "delete" %>
              <% end %>
          <% end %>
        <% end %>
      <%= form_with model: [post, post.comments.new] do |f| %>
      <br />
        <%= f.text_field :content, placeholder: 'Add a comment...' %>
        <%= f.submit "add comment" %>
      <% end %>
  </div>


    <% end %>

<% end %>
