
<% if !@user %>

<%= link_to signup_path do %>
  Sign Up
  <% end %>
<% else %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>


<div class="new-post">
  <%= form_for @post do |form| %>
  <%= form.text_field :message, :placeholder => "What's on your mind" %>

  <%= form.submit "Submit" %>
  <% end %>
</div>

  <% @posts.each do |post| %>
  <div class="post">
    <p><%= post.message %></p>
    <p class="posted-at">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
    <p>Likes: <%= post.likes %></p>
    <p>post: <%= post.id %></p>
    <%= button_to "/likes/#{post.id}" do %>
      Like
    <% end %>
  </div>
  <% end %>

<% if @user %>
  Logged in as: <%= @user.email %>
<% end %>

<% end %>