<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "posts.css" %>
</head>
  <div class="wrapper">
  <header class="header">
  <ul class="nav-ul">
    <li class="nav-li"><a href="">BookFace</a></li>
    <li class="nav-li"><a href="/">Home</a></li>

    <%# shows header items only if user is logged in  %>
    <% if @user %>
      <li class="nav-li"><a href="<%= @user ? "users/#{@user.id}" : '' %>">Profile</a></li>
      <li class="nav-li"  style="float:right"><a href="/logout" > Sign Out </a></li>
    <% end %>
    <li class="nav-li username" style="float:right"><%= @user ? "#{@user.first_name}" : '' %></li>
  </ul>
  </header>
  <body>
  <div class="left-side">
  <ul>

  <%= @user ? image_tag("profile_photo.png", :alt => "profile photo", :class => "profile-photo") : '' %>
  <% if @user %>
    <a href="#"><li class="sidebar-li">hi, <%= @user.first_name%> </li></a>
    <a href="#"><li class="sidebar-li">messages</li></a>
  <% end %>
  </ul>
  </div>
  <main>
    <%= yield %>
  </main>
  <div class="right-side">Right side, Padding // Extra features??? </div>
    <footer>@2021-team-smiley-face</footer>
  </div>
</body>
</html>
